@import "main-nav";

.header {
    position: relative;

    @include media('<desktop') {
        height: 62px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.06);
        background-color: #0b072b;
        margin-bottom: 16px;
    }

    @include media('>=desktop') {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 10;

        &:after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 28px;
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
            border: solid rgba(255, 255, 255, 0.06);
            border-width: 1px 0;
            background-color: #1c3576;
        }
    }
}

.header__container {
    @include media('>=desktop') {
        position: relative;
    }
}

.custom-logo-link {
    @include adaptive-font(110, 200);
    width: 1em;
    max-width: 200px;
    display: block;
    position: relative;
    z-index: 4;

    @include media('>=desktop') {
        position: absolute;
        left: 15px;
        top: 0;
    }

    img {
        font-size: 40px;
        height: auto;
        font-weight: 700;
        color: #f00201;
    }
}

.header-top {
    padding-top: 12px;
    padding-bottom: 14px;
    display: flex;

    @include media('<desktop') {
        flex-direction: column;
        order: 1;
    }

    @include media('>=desktop') {
        align-items: center;
        justify-content: flex-end;
    }

    .btn-reg {
        @include media('<desktop') {
            margin-bottom: 8px;
        }

        @include media('>=desktop') {
            margin-right: 10px;
        }
    }
}

.header-top__or {
    color: rgba(#a4afbb, .5);
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    margin: 0 13px;

    @include media('<desktop') {
        text-align: center;
        margin: 21px 0 16px;
    }
}

.social-links {
    @extend %listreset;
    display: flex;

    @include media('<desktop') {
        margin-left: -8px;
    }

    li {
        margin-left: 8px;

        &.vk {
            a {
                &:after {
                    -webkit-mask-image: url(../images/svg-icons/vk.svg);
                    mask-image: url(../images/svg-icons/vk.svg);
                    width: 23px;
                    height: 13px;
                }

                @include media('<desktop') {
                    &:after {
                        background-color: #5bb0ff;
                    }
                }

                @include hover {
                    &:after {
                        background-color: #5bb0ff;
                    }
                }
            }
        }

        &.mailru {
            a {
                &:after {
                    -webkit-mask-image: url(../images/svg-icons/mailru.svg);
                    mask-image: url(../images/svg-icons/mailru.svg);
                    background-color: #f89c0e;
                }

                @include media('<desktop') {
                    &:after {
                        background-color: #5bb0ff;
                    }
                }

                @include hover {
                    &:after {
                        background-color: #5bb0ff;
                    }
                }
            }
        }

        &.ok {
            a {
                &:after {
                    -webkit-mask-image: url(../images/svg-icons/odnoklassniki.svg);
                    mask-image: url(../images/svg-icons/odnoklassniki.svg);
                }

                @include media('<desktop') {
                    &:after {
                        background-color: #ffa337;
                    }
                }

                @include hover {
                    &:after {
                        background-color: #ffa337;
                    }
                }
            }
        }

        &.yandex {
            a {
                &:after {
                    -webkit-mask-image: url(../images/svg-icons/yandex.svg);
                    mask-image: url(../images/svg-icons/yandex.svg);
                }

                @include media('<desktop') {
                    &:after {
                        background-color: #ff0303;
                    }
                }

                @include hover {
                    &:after {
                        background-color: #ff0303;
                    }
                }
            }
        }

        &.fb {
            a {
                &:after {
                    -webkit-mask-image: url(../images/svg-icons/facebook.svg);
                    mask-image: url(../images/svg-icons/facebook.svg);
                }

                @include media('<desktop') {
                    &:after {
                        background-color: #4184C2;
                    }
                }

                @include hover {
                    &:after {
                        background-color: #4184C2;
                    }
                }
            }
        }

        &.twitter {
            a {
                &:after {
                    -webkit-mask-image: url(../images/svg-icons/twitter.svg);
                    mask-image: url(../images/svg-icons/twitter.svg);
                }

                @include media('<desktop') {
                    &:after {
                        background-color: #5da8dc;
                    }
                }

                @include hover {
                    &:after {
                        background-color: #5da8dc;
                    }
                }
            }
        }
    }

    a {
        display: block;
        border-radius: 50%;
        width: 36px;
        height: 36px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        color: #0b072a;
        text-indent: -9999px;
        position: relative;

        @include media('>=desktop') {
            width: 32px;
            height: 32px;
            background-color: rgba(#fff, .7);
        }

        @include hover {
            background-color: rgba(#fff, .9);
        }

        &:after {
            @include anim;
            @include xycenter;
            content: '';
            background-color: #0b072a;
        }
    }

    .icon {
        font-size: 23px;
    }
}
