.main-banner {
    @include media('<tablet') {
        margin-left: -6px;
        margin-right: -6px;
    }

    .slide {
        position: relative;

        @include media('<tablet') {
            display: flex;
            flex-direction: column;
            padding-bottom: 53px;
        }
    }
}

.main-banner__txt-holder {
    @include media('<tablet') {
        order: 2;
        padding-top: 11px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @include media('>=tablet') {
        @include ycenter;
        width: 206px;
    }
}

.main-banner__ttl {
    @include adaptive-font(23, 28);
    color: #fff;
    font-weight: 700;
    line-height: 1.07;
    display: block;
    margin-bottom: 5px;
}

.main-banner__txt {
    color: #ffd84e;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    display: block;
    margin-bottom: 25px;
}
