.games-filter {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 21px;

    @include media('>=phone', '<tablet') {
        margin-left: auto;
        margin-right: auto;
        max-width: 510px;
        justify-content: center;
    }

    @include media('<phone') {
        margin-left: -5px;
        margin-right: -5px;
    }

    @include media('>=desktop') {
        min-height: 106px;
        background: url(../images/bg-filters.png) repeat-x 50% 0;
        margin: 0 -19px 0 -33px;
        padding: 0 20px;

        &:after,
        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 40px;
            height: 106px;
        }

        &:before {
            background: url(../images/bg-filters-l.png) no-repeat;
            right: 100%;
        }

        &:after {
            background: url(../images/bg-filters-r.png) no-repeat;
            left: 100%;
        }
    }
}

.games-filter__item {
    @include adaptive-font(15, 12);
    background: url(../images/bg-category.png) no-repeat;
    background-size: 100% 100%;
    width: 163px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
    color: #ddd;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;

    @include media('<desktop') {
        max-width: calc(50% - 10px);
        margin-bottom: 4px;
    }

    @include media('>=desktop') {
        width: 154px;
        height: 44px;
        margin-top: -16px;
    }

    &:before,
    &:after {
        @include ycenter;
        content: '';
        width: 7px;
        height: 7px;
        background-color: #3385d0;
        border-radius: 50%;
        margin-top: -2px;
    }

    &:before {
        left: 24px;
    }

    &:after {
        right: 24px;
    }

    a {
        color: inherit;
    }
}
