.top-cta {
    margin-bottom: 40px;

    @include media('>=phone') {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    @include media('>=desktop') {
        margin-bottom: 36px;
        padding-right: 13px;
    }
}

.registration {
    min-width: 155px;

    @include media('>=desktop') {
        margin-left: 15px;
    }
}

%top-cta__ttl {
    color: #858585;
    font-size: 12px;
    line-height: 1.065;
    font-weight: 700;
    text-transform: uppercase;

    @include media('<widescreen') {
        margin-bottom: 8px;
    }

    @include media('>=widescreen') {
        margin-right: 20px;
    }
}

.jackpot {
    display: flex;
    align-items: center;

    @include media('>=phone', '<desktop') {
        flex: 0 0 50%;
        max-width: 50%;
        padding-right: 10px;
    }

    @include media('<desktop') {
        margin-bottom: 17px;
    }

    @include media('>=desktop') {
        flex: 0 0 39.1%;
        max-width: 39.1%;
    }

    @include media('<widescreen') {
        flex-direction: column;
    }
}

.jackpot__ttl {
    @extend %top-cta__ttl;

    @include media('>=widescreen') {
        max-width: 53px;
    }
}

.jackpot__value {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #111316;
    width: 100%;
    padding: 3px 11px;
    height: 50px;
    position: relative;
    z-index: 0;

    @include media('<widescreen') {
        justify-content: center;
    }

    @include media('>=desktop') {
        max-width: 288px;
        height: 42px;
    }
}

.jackpot__txt {
    //text-shadow: 0 7.1875px 14.375px rgba(0, 14, 18, 0.8), 0 1.79688px 0 #A37437, 0 -0.89844px 0px #FEF7D6;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fef4c6;
    background: linear-gradient(180deg, #FFD84E 20%, #FFAE64 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;

    &:after {
        content: attr(data-text);
        position: absolute;
        left: 0;
        right: 0;
        text-shadow: 0 2px 0 #573400, 0 0 2px rgba(255, 222, 106, 0.68);
        z-index: -1;
    }
}



.winner {
    display: flex;
    align-items: center;

    @include media('>=phone', '<desktop') {
        flex: 0 0 50%;
        max-width: 50%;
        padding-left: 10px;
    }

    @include media('<widescreen') {
        flex-direction: column;
    }

    @include media('<desktop') {
        margin-bottom: 28px;
    }

    @include media('>=desktop') {
        flex: 0 0 37.04%;
        max-width: 37.04%;
        margin-left: 34px;
    }
}

.winner__ttl {
    @extend %top-cta__ttl;

    @include media('>=widescreen') {
        max-width: 83px;
    }
}

.winner__block {
    border: 1px solid #000;
    border-radius: 4px;
    background-color: #111316;
    width: 100%;
    padding: 2px 20px 2px 2px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include media('>=widescreen') {
        max-width: 238px;
    }
}

.winner__ava {
    border-radius: 3px;
    overflow: hidden;
    border: 1px solid #ffec8b;
    width: 64px;
    height: 46px;
    margin-right: 17px;

    @include media('>=desktop') {
        width: 53px;
        height: 38px;
        margin-right: 9px;
    }
}

.winner__player {
    @include media('<desktop') {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
    }
}

.winner__name {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-bottom: -3px;
}

.winner-prize {
    color: #ffd84e;
    font-size: 16px;
    font-weight: 900;

    .winner__currency {
        color: #4f93e3;
    }
}

.registration {
    @include media('<desktop') {
        width: 100%;
    }
}
