.single-post,
.main__txt-content {
    margin-bottom: 40px;

    @include media('>=desktop') {
        margin-bottom: 61px;
    }

    h2 {
        margin-bottom: 19px;
    }

    p {
        margin-bottom: 17px;

        & + h2 {
            margin-top: 24px;
        }
    }

    ul {
        @extend %listreset;
        margin-bottom: 29px;
        margin-top: 29px;

        li {
            position: relative;
            padding-left: 15px;
            margin-bottom: 10px;

            &:before {
                content: '';
                position: absolute;
                top: 7px;
                left: 0;
                border: 1px solid #66b6ff;
                width: 5px;
                height: 5px;
                border-radius: 50%;
            }
        }
    }
}
