.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    min-width: 100%;
    margin-top: $header-height-sm * 2.5;
}

.not-found__title {
    display: block;
    width: 100%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 6vh;
    line-height: 1;
    @include media('<desktop') {
        font-size: 120px;
    }
    @include media('>=desktop') {
        font-size: 184px;
    }
    @include media('>=superscreen') {
        font-size: 284px;
    }
}

.not-found__subtitle {
    @extend .not-found__title;
    margin-bottom: 1vmin;
    @include media('<desktop') {
        font-size: 44px;
    }
    @include media('>=desktop') {
        font-size: 84px;
    }
    @include media('>=superscreen') {
        font-size: 124px;
    }
}