.review_2 {
    padding: 30px 0px;
}
.comments_title_2 {
    margin: 0;
    padding: 0;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}
.comments_row_desc {
    padding: 15px;
}
.comments_row_2 {
    background: #3C3B46;
    margin-bottom: 20px;
    border-radius: 4px;
    padding-bottom: 20px;
}
.comments_row_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#534F66;
    padding: 15px;
    border-radius: 4px;
}
.comments_row_name_2 {
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
.comments_row_data_2 {
    font-weight: bold;
}
.comments_row_answer {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 4px;
}
.comments_row_answer .comments_row_desc {
    background: #464353;
}
.comments_row_answer_link a {
    color: white;
    font-size: 18px;
}
.comments_row_answer_link {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.comment_form_ajax {
    width:100%;
}
.comment_form_info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.comment_form_input_wrapper input {
    width:300px;
    height: 35px;
    border: none;
    background: #534F66;
    color: white;
    padding-left: 15px;
}
.comment_form_comment textarea
{
    display: block;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    background: #534F66;
    color: white;
    padding-left: 15px;
    min-height: 126px;
}
.form_submit {
    padding: 15px 0px;
}
.submit_ajax_comment {
    padding: 15px 25px;
    background: #3385D0;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}
.form_container {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
}
.form_title {
    margin: 0;
    padding: 0;
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
}
::placeholder {
    color: white;
}
@media (max-width: 1200px) {
    .comment_form_ajax {
        width: 100%;
        box-sizing: border-box;
    }
    .comment_form_info {
        flex-wrap: wrap;
    }
    .comment_form_input_wrapper {
        width: 100%;
        margin-bottom: 20px;
    }
    .comment_form_input_wrapper input {
        width: 100%;
    }
    .comment_form_comment textarea {
        width: 100%;
        box-sizing: border-box;
    }
    .submit_ajax_comment {
        padding: 10px 15px;
        font-size: 15px;
    }
    .form_submit {
        padding: 15px 0px;
    }
}
@media (min-width: 767px) and (max-width: 1200px) {
    .comment_form_input_wrapper {
        width: 50%;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }
    .comment_form_comment {
        padding-left: 10px;
        padding-right: 10px;
    }
}