.payments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -13px 18px -25px;
    padding-bottom: 5px;
    position: relative;
    background: url(../images/bg-footer.png) repeat-x 50% 0;
    min-height: 75px;
    padding-left: 10px;
    padding-right: 10px;

    @include media('<tablet') {
        flex-wrap: wrap;
        margin: 0 -20px 9px;
        background-size: auto 100%;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 14px;
    }

    &:after,
    &:before {
        @include media('>=tablet') {
            content: '';
            position: absolute;
            top: 0;
            height: 75px;
        }
    }

    &:before {
        right: 100%;
        background: url(../images/bg-footer-l.png) no-repeat;
        width: 46px;
    }

    &:after {
        left: 100%;
        background: url(../images/bg-footer-r.png) no-repeat;
        width: 47px;
    }
}

.payments__items {
    @include media('<tablet') {
        margin: 0 3px 7px;
        text-align: center;
    }

    @include media('>=tablet') {
        margin-left: .729vw;
        margin-right: .729vw;
    }

    &:nth-child(5) {
        @include media('<phone') {
            order: 5;
        }
    }

    img {
        &[src*="qiwi.png"],
        &[src*="visa.png"],
        &[src*="visa.svg"],
        &[src*="citrus.png"],
        &[src*="maestro.png"],
        &[src*="master.png"] {
            @include media('<phone') {
                max-width: 40px;
            }
        }
    }

    img {
        &[src*="webmoney.png"] {
            @include media('<phone') {
                max-width: 101px;
            }
        }

        &[src*="yd.png"] {
            @include media('<phone') {
                max-width: 86px;
            }
        }

        &[src*="alfa-b.png"] {
            @include media('<phone') {
                max-width: 65px;
            }
        }
    }
}

.footer-bottom {
    padding: 17px 11px;
    border-radius: 8px;
    background-color: #13161b;
    color: #cdcecf;

    @include media('<tablet') {
        font-size: .867em;
        text-align: center;
    }

    @include media('>=tablet') {
        margin-left: -11px;
        margin-right: -11px;
    }

    p {
        margin: 0;
    }
}
